<h1>News Items</h1>

<br>
<div class = "row">
<% @news.each do |news| %>
<div class="col-md-4 panel panel-inverse"><h3><%= link_to news.name , news%></h3>
<%= news.created_at %>
<%= news.user.cn %></div>
<% end %>
</div>
<%= link_to 'New News', new_news_path, class: "btn btn-primary" %>


