# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b932e62671f6a5b4a373e79238135b9c28a26fb75bd9dc1a916d023e4232c0e72e415232367bf065aee87419edfbf165c7fa7ffc202804fbe57b41e80c331d49

test:
  secret_key_base: 93f1256ab60e78584e05296f5a6e873fd954b9a4b5f35c9970c3e5b99a0fc6e3e3e59f76c2d7c467424957cc7b7782d6c760b9e68d0cc1f2cacf907fe6692591

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
