body {
	font-family: 'Raleway', serif;
	background-image: asset-url("background.png");
	padding:15px,15px;
	border:5px solid #ffffff;
	color:#fff200;
}
.navbar-default{
	border-color:#000000;
}
.navbar-brand{
	height:45px;
	padding:2px 15px;
}
.navbar-collapse.collapse{
	border:none!important;
}
blockquote{
	margin:10 10px;
	padding:10px;
	border:3px solid;
}
c.main-container {
	margin-top: -20px;
	padding-left: 0px;
	padding-right: 0px;
}
a.dropdown-toggle{
	height: 70;
}
div.carousel-slide{
	margin-top: -5;
}

a.navbar-brand {
	font-family: "Josefin Slab", serif  !important;
}

.top-image {
	background-size:cover;
	width: auto;
	height: 300px;
	background-position: center center;
	-webkit-transition: height .25s; /* For Safari 3.1 to 6.0 */
    transition: height .25s;
}

.top-image:hover {
	height: 500px;
}
.navbar-default{
	background-image: none;
	background-color: #100018;
}
a.dropdown-toggle{
	color: #fff200!important;
}
a.navbar-brand{
	color: #fff200!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
	background-image: linear-gradient(to bottom, #000000 0px, #232323 100%)
}

body {
	border: none;
}
